@import url("navbar.css");
@import url("home.css");
@import url("pages.css");
@import url("footer.css");


:root{

    --navy:#0B1026;
    --white:#FFFFFF;

    --blue:#6C7BFF;
    --green:#7CC9A5;

    --text-soft:#6B7280;
    --border:#E5E7EB;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;
    background:var(--white);
    color:var(--navy);
}

.site-container{

    max-width:1280px;

    margin:0 auto;

    padding-left:32px;

    padding-right:32px;
}


