:root{

    --navy:#0B1026;
    --bg:#F5F7FA;
    --white:#FFFFFF;

    --blue:#6C7BFF;
    --green:#7CC9A5;

    --text-soft:#6B7280;
    --border:#E5E7EB;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--white);

    color:var(--navy);
}

/* =========================
   NAVBAR
========================= */

.navbar{

    width:95%;

    margin:auto;

    padding:18px 0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    border-bottom:1px solid var(--border);
}

.logo{

    font-size:1.2rem;

    font-weight:700;
}

nav{

    display:flex;

    gap:36px;
}

nav a{

    text-decoration:none;

    color:var(--navy);

    font-size:0.95rem;

    font-weight:500;
}

/* =========================
   HERO
========================= */

.hero{

    width:95%;

    margin:auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    align-items:center;

    gap:40px;

    padding:25px 0 35px;
}

.hero-content h1{

    font-size:3rem;

    line-height:1.05;

    font-weight:800;

    letter-spacing:-0.03em;

    margin-bottom:20px;
}

.hero-content span{

    color:var(--blue);
}

.hero-benefits{

    list-style:none;

    margin-bottom:20px;
}

.hero-benefits li{

    font-size:1rem;

    font-weight:700;

    margin-bottom:10px;
}

.hero-content p{

    max-width:520px;

    font-size:0.95rem;

    line-height:1.7;

    color:var(--text-soft);

    margin-bottom:24px;
}

.btn-primary{

    display:inline-block;

    text-decoration:none;

    padding:12px 22px;

    border-radius:10px;

    color:white;

    font-size:0.95rem;

    font-weight:600;

    background:
    linear-gradient(
    135deg,
    var(--blue),
    var(--green));

    transition:.25s;
}

.btn-primary:hover{

    transform:translateY(-2px);
}

.hero-image{

    display:flex;

    justify-content:flex-end;
}

.hero-image img{

    width:100%;

    max-width:950px;

    display:block;
}

/* =========================
   MOBILE
========================= */

@media(max-width:900px){

    .navbar{

        flex-direction:column;

        gap:16px;
    }

    nav{

        flex-wrap:wrap;

        justify-content:center;

        gap:16px;
    }

    .hero{

        grid-template-columns:1fr;

        text-align:center;
    }

    .hero-content p{

        margin-left:auto;
        margin-right:auto;
    }

    .hero-content h1{

        font-size:2.2rem;
    }

    .hero-image{

        justify-content:center;
    }
}
